<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tech.krds.masagus.restartmodem">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/masaguslogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity"  android:label="Mas Agus"  tools:ignore="LockedOrientationActivity" android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UpgradeActivity" tools:ignore="LockedOrientationActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity" android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1948241097718965~3260428558"/>
    </application>


</manifest>